
- if user_signed_in?
  = link_to 'Find help', new_saved_search_path, class: 'big-button primary-button'
  = link_to 'Create a resource', new_resource_path, class: 'big-button'


  - if @saved_searches && @saved_searches.any?
    %label Previous searches

    %table
      %thead
        %tr
          %th Date
          %th Tags / Related
          %th
      %tbody
        = render @saved_searches

  - if @kids
    = render @kids
  = link_to 'Create a new kid profile', new_kid_path, class: 'big-button'

- else
  = render "layouts/public"
