.container
  = form_for @kid do |f|
    = f.label :name
    = f.text_field :name

    - @tags_by_category.each do |category, tags|
      = label_tag category

      - if ['needs', 'symptoms'].include? category
        = collection_select 'kid', 'tag_ids', tags, :id, :name, {}, { multiple: true }
      - else
        = collection_select 'kid[tag_ids]', nil, tags, :id, :name

    = f.submit 'Save'
