.container
  = form_for Kid.new do |nk|
    = nk.label :name
    = nk.text_field :name
    
    - @tags_by_category.each do |category, tags|
      = label_tag category
      
      - if ['needs', 'symptoms'].include? category
        = collection_select 'kid[tag_ids]', nil, tags, :id, :name, {}, multiple: true
      - else
        = collection_select 'kid[tag_ids]', nil, tags, :id, :name  

    = nk.submit 'Save'
