= content_for :title, @kid.name
= content_for :title_icon, 'icon-happy'

= content_for :actions do
  = link_to 'Edit', edit_kid_path(@kid), class: "button icon-pencil"

= render 'results', results: @results
