.container
  = form_for @saved_search do |f|
    = f.label :location_range, "Filter Results Range (in meters), '0' to skip"
    = f.number_field :location_range, step: 500

    - tags_by_category.each do |category, tags|
      = label_tag category

      - if ['needs', 'symptoms'].include? category
        = collection_select 'saved_search', 'tag_ids', tags, :id, :name, {}, multiple: true
      - else
        = collection_select 'saved_search[tag_ids]', nil, tags, :id, :name, {}

    = f.submit 'Save'
