= content_for :title, 'Previous searches'

- if @saved_searches.any?
  %table
    %tr
      %th Date
      %th

    - @saved_searches.each do |saved_search|
      %tr
        %td= link_to saved_search.name.blank? ? 'Show' : saved_search.name, saved_search
        %td
          = link_to 'Edit', edit_saved_search_path(saved_search), class: 'icon-pencil'
          = link_to 'Delete', saved_search, class: 'icon-remove', :method => :delete, :data => { :confirm => 'Are you sure?' }

- else
  .empty
    No previous searched found. Would you like to
    = link_to 'search now?', new_saved_search_path
