= content_for :title, 'Search results'
= content_for :full_width, true

%section.search-results
  .container

    %h3
      Search term:
      = @saved_search

    .tags
      %input{ type: "hidden", value: @saved_search.tag_ids.join(','), id: 'result-tag-ids' }

      - @saved_search.tags.group_by(&:tag_category).each do |category, tags|
        .result-tag-category
          %strong= "#{category}:"
          - tags.each do |tag|
            = link_to tag.name, tag_path(tag), class: 'tag'

      - if @saved_search.persisted?
        = link_to 'Refine search', edit_saved_search_path(@saved_search), class: "button icon-search3 refine-search-button"
      - else
        = link_to 'Refine search', new_saved_search_path, class: "button icon-search3 refine-search-button"


.hero.map-hero
  #results-map
  %button#pan-to-location.icon-location.icon-only Pan to current location

  .results.active
    = render 'results', results: @results

