= content_for :title, @user

.tags
  - if @user.tags.any?
    - @user.tags.each do |tag|
      .tag= tag.name

  %form.new-tag

    %select
      %option New Tag
      - @tags.each do |tag|
        %option{ value: tag.id }= tag.name
    %button.icon-plus.icon-only{type: 'submit'} Add

.description
  = @user.description

= render 'layouts/disqus'
