= content_for :title, @user

= content_for :title_avatar do
  - if @user.image_url.present?
    = image_tag @user.image_url, class: "avatar"
  - else
    = gravatar_image_tag @user.email.downcase, class: "avatar"

- if can? :update, @user
  = content_for :actions do
    = link_to 'New child profile', new_kid_path, class: 'button icon-plus'
    = link_to 'Edit profile', edit_user_path, class: 'button icon-pencil'

- if @user.description.present?
  .description
    = @user.description

.tags
  .current_tags
    -# see tag_list_handler.js.coffee

  - if @user.id == current_user.id
    = hidden_field_tag :entity_tags_list, @user_tags.map { |tag| [tag.id, tag.name] }.to_json
    = hidden_field_tag :tags_list,        @tags.map      { |tag| [tag.id, tag.name] }.to_json
    = hidden_field_tag :add_tag_url,      add_tag_user_path(@user)
    = hidden_field_tag :remove_tag_url,   "/users/#{@user.id}/remove_tag"


    = form_for @user, remote: true, url: add_tag_user_path(@user), html: { class: 'add-tag-form' } do |f|
      = select_tag :tag_id, options_for_select(@tags.map { |tag| [tag.name, tag.id] })
      %button.icon-plus{type: 'submit'} Add Tag

%header
  %h3 Comments

%ol#comments.comment-feed
  = render @comments

= render 'comments/form', commentable: @user
