= content_for :title, @user
= content_for :title_icon, 'icon-user'
= content_for :actions do
  = link_to 'Edit profile', edit_user_path, class: "button icon-pencil"


- if @user.description.present?
  .description
    = @user.description

.tags
  .current_tags
    -# see tag_list_handler.js.coffee

  - if @user.id == current_user.id
    = hidden_field_tag :entity_tags_list, @user_tags.map { |tag| [tag.id, tag.name] }.to_json
    = hidden_field_tag :tags_list,        @tags.map      { |tag| [tag.id, tag.name] }.to_json
    = hidden_field_tag :add_tag_url,      add_tag_user_path(@user)
    = hidden_field_tag :remove_tag_url,   "/users/#{@user.id}/remove_tag"

    = form_for @user, remote: true, url: add_tag_user_path(@user) do |f|
      = select_tag :tag_id, options_for_select(@tags.map { |tag| [tag.name, tag.id] })
      %button.icon-plus{type: 'submit'} Add Tag

= render 'comments', commentable: @user
