= content_for :title, "Edit #{@page.title}"

= render 'form'

.main-footer
  = link_to 'Back', pages_path

  %div
    = link_to 'Delete', @page, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "button", style: "background: red;"
