= content_for :title, 'Pages'
= content_for :title_icon, 'icon-document'

= content_for :actions do
  = link_to 'New page', new_page_path, class: "button icon-plus"


%table
  %thead
    %tr
      %th Title
      %th Sort
      %th

  %tr{ data: { created_at: @landing_page.created_at } }
    %td= link_to @landing_page.title, @landing_page
    %td= @landing_page.sort
    %td
      = link_to 'Edit', edit_page_path(@landing_page)

  - @pages.each do |page|
    %tr{ data: { created_at: page.created_at } }
      %td= link_to page.title, page
      %td= page.sort
      %td
        = link_to 'Edit', edit_page_path(page)
        = link_to 'Delete', page, :method => :delete, :data => { :confirm => 'Are you sure?' }
