
- if can? :manage, Page
  = content_for :actions do
    = link_to 'Edit', edit_page_path(@page), class: "button icon-pencil"

- if @page.id == 1
  = render 'pages/landing'
- else
  = content_for :title, @page.title
  = @page.content.html_safe


