= form_for @tag do |f|
  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :category_id
    = f.select :category_id, @categories

  .field
    = f.label :description
    = f.text_area :description

  .submit
    = f.submit 'Save'
