= content_for :title, 'All Tags'
= content_for :title_icon, 'icon-tag'

- if can? :create, Tag
  = content_for :actions do
    = link_to 'New tag', new_tag_path, class: 'button icon-plus'

%table
  %thead
    %tr
      %th Name
      %th Category
      %th

  - @tags.each do |tag|
    %tr{ data: { created_at: tag.created_at } }
      %td= link_to tag.name, tag
      %td= tag.category
      %td.buttons>
        - if can? :manage, tag
          = link_to 'Edit', edit_tag_path(tag), class: 'button'
          = link_to 'Delete', tag, class: 'button', method: :delete, data: { confirm: 'Are you sure?' }
