= content_for :title, @tag
= content_for :title_icon, "icon-tag"

%em= @tag.tag_category

- unless @tag.description.blank?
  .description
    = @tag.description


- if @taggings.any?
  %h3 Related
  = render 'taggings', taggings: @taggings

= render 'comments', commentable: @tag
