= content_for :title, @tag
= content_for :title_icon, "icon-#{@tag.category ? @tag.category : 'tag'}"

- unless @tag.description.blank?
  .description
    = @tag.description

.tabs
  %ul
    - if @taggings.any?
      %li= link_to "Related", "#related"
      %li= link_to "Discussion", "#discussion"

  - if @taggings.any?
    #related.tab
      = render 'shared/taggings', taggings: @taggings

  #discussion.tab
    = render 'shared/comments', commentable: @tag
