= content_for :title, @tag
= content_for :title_icon, "icon-#{@tag.category ? @tag.category : 'tag'}"

- unless @tag.description.blank?
  .description
    = @tag.description

.tabs
  %ul
    %li= link_to "Related", "#related"
    %li= link_to "Discussion", "#discussion"

  #related.tab
    - @taggings.each do |tagging|
      = link_to tagging, tagging

  #discussion.tab
    = render 'shared/comments', commentable: @tag
