= content_for :title, @tag
= content_for :title_icon, "icon-tag"
= content_for :subtitle, @tag.tag_category

- if can? :manage, @tag
  = content_for :actions do
    = link_to 'Edit', edit_tag_path(@tag), class: "button icon-pencil"

- unless @tag.description.blank?
  .description
    = @tag.description

- if @taggings.any?
  %section.taggings
    %h3 Related
    = render 'taggings', taggings: @taggings

= render 'comments', commentable: @tag
