= form_for @tag_category do |f|
  - if @tag_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tag_category.errors.count, 'error')} prohibited this category from being saved:"
      %ul
        - @tag_category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  .submit= f.submit 'Save'
