= form_for @resource, html: { multipart: true } do |f|
  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :description
    = f.text_area :description

  .field
    = f.label :avatar
    = f.file_field :avatar

  .field
    = f.label 'Category'
    = f.select :resource_category_id, @categories

  .field
    = f.label :region
    = f.select :region, Region.to_a

  .half-width-fields
    .field.one-half
      = f.label :url
      = f.text_field :url, placeholder: "http://example.com"

    .field.one-half
      = f.label :phone
      = f.text_field :phone

    .field.one-half
      = f.label :facebook
      .field-with-text.facebook
        %em facebook.com/
        = f.text_field :facebook

    .field.one-half
      = f.label :twitter
      .field-with-text.twitter
        %em twitter.com/
        = f.text_field :twitter

    = fields_for :address, @address do |a|
      .field
        = a.label :street1, 'Street'
        = a.text_field :street1

      .fields
        .field.one-third
          = a.label :suburb
          = a.text_field :suburb

        .field.one-third
          = a.label :state
          = a.text_field :state

        .field.one-third
          = a.label :country
          = a.text_field :country

  .submit
    = f.submit 'Save'
