.container
  = form_for @resource do |f|
    = f.label :name
    = f.text_field :name

    = f.label :category
    = f.select :category, ResourcesCategory.to_a

    = f.label :url
    = f.text_field :url

    = f.label :phone
    = f.text_field :phone

    = f.label :facebook
    = f.text_field :facebook

    = f.label :twitter
    = f.text_field :twitter

    = f.submit 'Save'
