- if resources.any?
  %h3= category

  %table
    %thead
      %tr
        %th Name
        %th Phone
        %th &nbsp;

    - resources.each do |resource|
      %tr{ data: { created_at: resource.created_at } }
        %td= link_to resource.name, resource
        %td= resource.phone
        %td
          .buttons>
            - if can? :manage, resource
              = link_to 'Edit', edit_resource_path(resource), class: 'button'
              = link_to 'Delete', resource, method: :delete, class: 'button', data: { confirm: 'Are you sure?' }
