= content_for :title, 'Resources'
= content_for :title_icon, 'icon-document'

= content_for :actions do
  = link_to 'New resource', new_resource_path, class: "button icon-plus"

%table
  %thead
    %tr
      %th Name
      %th Category
      %th Phone
      %th

  - @resources.each do |resource|
    %tr{ data: { created_at: resource.created_at } }
      %td= link_to resource.name, resource
      %td= resource.category
      %td= resource.phone
      %td
        = link_to 'Edit', edit_resource_path(resource)
        = link_to 'Delete', resource, :method => :delete, :data => { :confirm => 'Are you sure?' }
