= content_for :title, @resource

%h1.title.icon-document= @resource

.description
  .container= @resource.name

  %p= @resource.category_humanize
  %p= @resource.url
  %p= @resource.phone
  %p= "<strong>facebook.com/</strong>#{@resource.facebook}".html_safe
  %p= "<strong>twitter.com/</strong>#{@resource.twitter}".html_safe

.container
  .tags
    - if @resource.tags.any?
      - @resource.tags.each do |tag|
        = link_to tag.name, tag_path(tag), class: 'tag'

= render 'shared/comments', commentable: @resource
