= content_for :title, @resource
= content_for :title_icon, 'icon-document'

= content_for :actions do
  = link_to 'Edit', edit_resource_path(@resource), class: "button icon-pencil"

%dl.description
  %dt Category
  %dd= @resource.category_humanize
  %dt URL
  %dd= link_to @resource.url, @resource.url, target: "_blank"
  %dt Phone
  %dd= @resource.phone

  %dt Social
  %dd= "<strong>facebook.com/</strong>#{@resource.facebook}".html_safe
  %dt
  %dd= "<strong>twitter.com/</strong>#{@resource.twitter}".html_safe

.tags
  .current_tags
    - if @resource.tags.any?
      - @resource.tags.each do |tag|
        = link_to tag.name, tag_path(tag), class: 'tag'

  = hidden_field_tag :entity_tags_list, @resource_tags.map { |tag| [tag.id, tag.name] }.to_json
  = hidden_field_tag :tags_list,        @tags.map          { |tag| [tag.id, tag.name] }.to_json
  = hidden_field_tag :add_tag_url,      add_tag_resource_path(@resource)

  = form_for @resource, remote: true, url: add_tag_resource_path(@resource) do |f|
    .container
      = select_tag :tag_id, options_for_select(@tags.map { |tag| [tag.name, tag.id] })
      = f.submit 'Add Tag', id: :submit_new_tag

= render 'shared/comments', commentable: @resource
