<h1 class="title icon-resource">
  <a href="/users/{{id}}">{{name}}</a>
</h1>

<p>
  <a href="/users/{{id}}">{{total_of_comments}} comment(s)</a>
</p>

<dl>
  {{#if email}}
    <dt>Email</dt>
    <dd><a href="mailto:{{email}}" target="_blank">{{email}}</a></dd>
  {{/if}}
</dl>
