.content
  .tabs
    %ul
      %li= link_to 'Resources', '#resources'
      %li= link_to 'People', '#people'

    #resources
      - if @results.resources.any?

        %ul.related-items.no-dot
          - @results.resources.uniq.each do |resource|
            %li{class: resource.address ? "icon-location" : nil, data: { "map-resource-id" => resource.id } }
              = link_to resource do
                = resource.name
                - if resource.region
                  %small= "- #{resource.region.gsub('_', ' ').titleize}"

      - else
        .empty No resources found.

    #people
      - if @results.people.any?
        %ul.related-items.no-dot
          - @results.people.uniq.each do |user|
            %li{class: user.address ? "icon-location" : nil, data: { "map-user-id" => user.id } }
              = link_to user.name, user

      - else
        .empty No people found.

%button#toggle-results.icon-arrow-left.icon-only Toggle results
