= content_for :full_width, true

.hero
  .container
    -# .one-half
    = link_to image_tag('logo.png'), root_path, class: "public-logo"
    %h3= t('sign_up')

    -# .one-half
    -#   %iframe{ height: "280", src: "//www.youtube.com/embed/O20qM5PbYdg?autohide=1&iv_load_policy=3&modestbranding=1&rel=0&showinfo=0", frameborder: 0, allowfullscreen: true }


.container

  %label Sign in with&hellip;
  = link_to "Facebook", user_omniauth_authorize_path(:facebook), class: 'big-button primary-button'
  = link_to "Email", new_user_session_path, class: "big-button"
