!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en", class: ("public" unless user_signed_in?) }
  <!--<![endif]-->

  %head
    %title
      = "#{yield :title} | " if content_for :title
      HummingbirdConnect

    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "initial-scale=1.0" }

    = favicon_link_tag 'favicon.png'

    = stylesheet_link_tag "application", media: "all", data: { turbolinks_track: true }
    = javascript_include_tag "application", data: { turbolinks_track: true }
    = csrf_meta_tag

  %body{ class: ("admin" if current_user.admin?) }
    = render 'flash'

    - if user_signed_in?
      - if current_user.admin?
        %header.admin-header
          .container
            = link_to 'Resources', resources_path
            = link_to 'Tags', tags_path
            = link_to 'Pages', pages_path

      %header.global-header= render 'layouts/header'

    %main{ role: 'main' }
      - if !content_for :full_width

        .container
          = render 'layouts/title' if content_for :title
          = yield

      - else
        = yield

    - if user_signed_in?
      %footer.main-footer
        .container
          = link_to 'All Resources', resources_path, class: "icon-resource" if can? :read, Resource
          = link_to 'All Tags', tags_path, class: "icon-tag" if can? :read, Tag

          %hr

          - if @pages.any?
            - @pages.each do |page|
              = link_to page.title, page
