!!!
%html
  %head
    %title RhokBrisbane2013
    = stylesheet_link_tag "application", media: "all", data: { turbolinks_track: true }
    = javascript_include_tag "application", data: { turbolinks_track: true }
    = csrf_meta_tag
%body
  %div.flash
    %p.notice= notice
    %p.alert= alert

  %nav{ role: 'banner' }
  %header
  %main
    = yield
  %footer
